.main-container {
    height: 100%;
    width: 900px;
    margin: 0 auto;
}

.board {
    height: 420px;
    width: 420px;
    margin: 0 auto;
}

.cell {
    width: 140px;
    height: 140px;
    border: 2px dashed cornflowerblue;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor:pointer;
    float:left;
    line-height: 140px;
    text-align: center;
    font-family: "Arial Narrow";
    font-weight: bold;
    font-size: 70px;
}

.control {
    font-family: "Arial Narrow";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top:40px;
}

.level {
    margin: 0 15px;
    color: cornflowerblue;
    cursor: pointer;
}

.not-selected {
    opacity: 0.8;
}

.not-selected:hover {
    opacity:1;
}

.ingame {
    display:none;
    color:cornflowerblue;
}

.ingame > p {
    margin:0px;
}

.robot {
    opacity:0.5;
}


.playAgain {
    display:none;
    margin-top: 0px;
    width: 125px;
    height: 125px;
    background-color: cornflowerblue;
    line-height: 100px;
    text-align: center;
    font-size-adjust: auto;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    opacity:0.8;
}

.playAgain:hover {
    opacity:1;
}
